version: "3.8"
services:
  caddy:
    image: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web
    extra_hosts:
      - "host.docker.internal:172.17.0.1"    
  cms:
    image: kaneknight/improvecms
    ports:
      - "1337:1337"
    networks:
      - web  
    environment:
      - DATABASE_URI
      - URL
  frontend:
    image: kaneknight/improvefrontend
    ports:
      - "3000:3000"
    networks:
      - web

networks:
  web:
    
volumes:
  caddy_data:
  caddy_config:    